.container {
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

.search {
    margin: auto;
    width: 100%;
}

.form-inline {
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: 0 auto;
    width: 45%;
}

  