.jumbotron {
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.container {
    background: transparent;
}

.search {
    margin: auto;
    width: 100%;
}

.form-inline {
    font-family: Arial, Helvetica, sans-serif;
  }

.center {
    margin: 0 auto;
    width: 45%;
}

  