<div class="container">
  <div class="d-flex flex-row justify-content-center">
    <nav class="navbar navbar-light bg-transparent searchbar"> 
      <div class="row">
        <form class="form-inline" [formGroup]="form" (ngSubmit)="onSubmit()">
          <input #search
            formControlName="search"
            id="search" 
            name="search" 
            class="form-control mr-sm-12" 
            type="text" 
            placeholder="Search">
          <button (click)="onSubmit(search.value);" 
            class="btn btn-outline-success" 
            type="submit"> 🔍
          </button>
        </form>
      </div>
    </nav>      
  </div> 
</div> 
    

