.fixed-top {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: 0; 
}

.container {
    position: absolute;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    padding-right: 0;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.left {
    text-align: left;
    margin-bottom: 0;
}

.right {
    text-align: right;
    margin-bottom: 0;
}

ul {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap column;
    justify-content: space-between; 
    padding: 0;
}

li {
    margin: 0.5rem;    
}   

.logo {
    height: auto;
    max-width: 80px;
    border-radius: 50%;
}

@media(max-width: 660px) {
    .header {
        flex-direction: column;  
    }

   button {
       background-color: white;
       padding: 0.5;
   } 

    ul {
        margin: 0;
        flex-direction: column;
        justify-content: space-between; 
    }

    .thumbnail {
        justify-content: center;
    }

    .right {
        text-align: right;
    }

    .left {
        flex-direction: row;
        align-items: flex-end;
    }
}