.fixed-top {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: auto;
    padding: 0; 
}

.container {
    position: absolute;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0, 0, 0, 0;
    padding-right: 0;
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.header {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.box {
    position: fixed;
    top: 0%;
    color: #333;
    font-weight: bolder;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.192);
      -webkit-backdrop-filter: blur(4px);
      -o-backdrop-filter: blur(4px);
      -moz-backdrop-filter: blur(4px);
  
    backdrop-filter: blur(4px);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.192);
  }

.left {
    text-align: left;
    margin-bottom: 0;
}

.right {
    text-align: right;
    margin-bottom: 0;
}
.row {
    margin: 0;
}

ul {
    margin: 0.5rem;
    display: flex;
    flex-wrap: wrap column;
    justify-content: space-between; 
    padding: 0;
}

li {
    margin: 0.5rem;    
}   

.logo {
    height: auto;
    max-width: 80px;
    border-radius: 50%;
}

@media(max-width: 660px) {
    .header {
        flex-direction: column;  
    }

   button {
       background-color: white;
       padding: 0.5;
   } 

    ul {
        margin: 0;
        flex-direction: column;
        justify-content: space-between; 
    }

    .thumbnail {
        justify-content: center;
    }

    .right {
        text-align: right;
    }

    .box {
        position: fixed;
        top: 0%;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: none;
        box-shadow: none;
    }

    .left {
        flex-direction: row;
        align-items: flex-end;
        color: #333;
        font-weight: bolder;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.192);
          -webkit-backdrop-filter: blur(4px);
          -o-backdrop-filter: blur(4px);
          -moz-backdrop-filter: blur(4px);
      
        backdrop-filter: blur(4px);
        box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.192);
    }
}