.fixed-top {
    margin: auto;
    padding: 0; 
     

}
.container {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    width: 100%;
    text-align: center;
}

ul {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap column;
    justify-content: space-between; 
    padding: 0;
    
}

li {
    margin: 0.5rem;    
    }   

.logo {
    height: auto;
    max-width: 80px;
    border-radius: 50%;
}