<nav class="navbar fixed-top navbar-inverse bg-primary bg-transparent"> 
    <header class="container-fluid row">
        <div class="navbar-collapse ">
            <ul class="float-left" style="list-style-type: none;">
            <li class="thumbnail">
                        <img src="assets/logo.jpg" class="img-fluid logo" alt="logo" routerLink="/">
            </li>
            <li> <button class="btn btn-outline-secondary" routerLink="/add-review">Add Review</button> </li>
        </ul>
        <ul class="float-right" style="list-style-type: none;"> 
            <li> <button class="btn btn-outline-secondary" routerLink="/list-view">List View</button> </li>
            <li> <button class="btn btn-outline-secondary" routerLink="/map-view">Map View</button> </li>
        </ul>
        </div>
    </header>
</nav>
