<div class="jumbotron">
    <div class="jumbotron jumbotron-fluid text-center header"> 
        <div class="container"> 
            <h1 class="display-4">Meal Reviews</h1> 
        </div> 
    </div>
        <div class="card-group"> 
          <div class="card-1"> 
            <div class="card-block">  
              <div class="sidenav">
                <div class="row container"> 
                    <div class="col-sm-10"> 
                        <div *ngFor="let filter of filters">
                            <div class="row"> 
                                <label class="form-check-label">
                                    <input (click) = "onFilter(filter)"
                                                type="checkbox" 
                                                class="form-check-input" 
                                                value=""> 
                                                {{ filter }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                     
        </div>  
        <div class="card-2"> 
                <div class="card-block">
                  <div class="row container"> 
                    <div class="col-sm-10"> 
                      <nav class="navbar navbar-light bg-transparent searchbar"> 
                        <form class="form-inline text-center"> 
                          <input class="form-control mr-sm-10" placeholder="Search"> 
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> 
                        </form>    
                      </nav>   
                    <ul>
                        <li *ngFor="let item of displayFoodItems"> {{item.itemName}} <br> {{item.restaurantName}} <br> {{item.filters}} <br>
                        <span *ngFor="let i of [5, 4, 3, 2, 1]" [ngClass]="{checked: item.rating==i}"> ★ {{i}} </span>
                    </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>