<div class="background">
  <div class="text-center header"> 
    <div class="container"> 
      <h1 class="display-4">Add a Review</h1> 
    </div> 
  </div>
  <div class="card-group"> 
    <div class="card-1"> 
    </div> 
    <div class="card-2"> 
      <form [formGroup]="form">
        <div class="container-form"> 
          <div class="form-group row">
            <label 
              for="inputFoodItem"   
              class="col-sm-4 form-control-label">
              Food Item
            </label> 
            <div class="col-sm-8">
              <input 
                formControlName="itemName" 
                type="text" 
                class="form-control text" 
                id="itemName" 
                placeholder="Food Item"
                [ngClass]="{ 'is-invalid': submitted && f.itemName.errors }">
          
                <div *ngIf="submitted && f.itemName.errors" class="invalid-feedback">
                  <div *ngIf="f.itemName.errors.required">
                    Food Item is required
                  </div>
                </div>
            </div>
          </div> 

          <div class="form-group row"> 
            <label 
              for="inputRestaurant"   
              class="col-sm-4 form-control-label">
              Restaurant
            </label>  
            <div class="col-sm-8">
              <select class="custom-select"
                 formControlName="restaurantId"
                  type="text" 
                  class="form-control text">
                 <option selected=''></option>
                <option *ngFor="let restaurant of restaurants" 
                  value="{{restaurant._id}}">
                  {{restaurant.restaurantName}}
                </option>
              </select> 
            </div> 
          </div>

          <div class="form-group row">
            <label class="col-sm-4 form-control-label filter-label">Filter</label> 
              <div formArrayName="filters">
                <div *ngFor="let filter of form.controls.filters['controls']; let i=index">
                  <div class="form-check form-group row"> 
                    <label class="form-check-label filter">
                      <input 
                        type="checkbox" 
                        [formControl]="filter" 
                        class="form-check-input" 
                        value="">
                        {{filters[i].name}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group row">
            <label class="col-sm-4 form-control-label">Rating</label> 
              <div class="form-check rating">
                <label 
                  class="form-check-label" 
                  title="5 stars" 
                  [ngClass]="{checked: form.controls['rating'].value==5}">
                  <input #rating
                    class="form-control form-check-input rating rating-loading"   
                    formControlName="rating" 
                    type="radio" 
                    value="5"> 
                </label>

                <label 
                  class="form-check-label" 
                  title="4 stars"
                  [ngClass]="{checked: form.controls['rating'].value==4}">
                  <input #rating
                    class="form-control form-check-input rating rating-loading"  
                    formControlName="rating" 
                    type="radio"  
                    name="rating" 
                    value="4">
                </label>

                <label 
                  class="form-check-label" 
                  title="3 stars" 
                  [ngClass]="{checked: form.controls['rating'].value==3}">
                  <input #rating
                    class="form-control form-check-input rating rating-loading"  
                    formControlName="rating" 
                    type="radio" 
                    name="rating" 
                    value="3">
                </label>

                <label 
                  class="form-check-label" 
                  title="2 stars" 
                  [ngClass]="{checked: form.controls['rating'].value==2}">
                  <input #rating
                    class="form-control form-check-input rating rating-loading"  
                    formControlName="rating" 
                    type="radio"  
                    name="rating" 
                    value="2">
                </label>

                <label 
                  class="form-check-label" 
                  title="1 star" 
                  [ngClass]="{checked: form.controls['rating'].value==1}">
                  <input #rating
                  class="form-control form-check-input rating rating-loading"  
                    formControlName="rating" 
                    type="radio"  
                    name="rating"
                    value="1">
                </label>
              </div>
            </div>

            <div class="form-group row add">
              <div class="col-sm-10">
                <button class="btn btn-success" (click)="onAdd();" (click)="open(mymodal);" >Add Item</button>
              </div>
            </div>

            <ng-template #mymodal let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Added Item</h4>
              </div>
              <div class="modal-body">
                <div class="results"> 
                  <li> 
                    {{form.value.itemName}} <br> 
                    <a 
                    [routerLink]="['/restaurant-details', form.value.id]" (click)="modal.dismiss()">
                    {{getName(form.value.id)}}
                  </a>  <br> 
                    {{addFilters(form.value.filters)}} <br>
                    <span class="star" *ngFor="let i of [5, 4, 3, 2, 1]" 
                      [ngClass]="{checked: form.value.rating==i}"> ★ {{i}} 
                    </span>
                  </li>
                </div>
                <h4 class="modal-link" >
                  <a [routerLink]="['/list-view']" (click)="close()" (click)="modal.dismiss()">
                   See All Items
                  </a>
                </h4>
              </div> 
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" class="close" aria-label="Close" (click)="modal.dismiss()" (click)="close()">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            </ng-template>
          </div>
        </form>
     </div>
  </div>
</div>
