.display-3 {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.jumbotron {
    width: 100%;
    box-sizing: border-box;
}

.checkbox {
margin: 3rem, 0;
display: none;
}

.rating-loading{
display: none;
}

.rating {
  float:left;
}


.rating > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

  .rating > label:before {
    content: '★ ';
  }

.checked, .checked ~ label {
    color: deeppink !important;
}

.rating > label:hover,
.rating > label:hover ~ label {
    color: greenyellow;
    
}

.add {
  text-align: center;
}