<div class="form-group row">
    <label for="filter" class="col-sm-2 form-control-label">Filter</label>  
      <div class="form-group row" FormArray="filter"> 
        <label class="custom-control custom-checkbox"> 
          <input type="checkbox" class="custom-control-input"> 
          <span class="custom-control-indicator"></span> 
          <span class="custom-control-description">gluten-free</span> 
        </label>  
        <label class="custom-control custom-checkbox"> 
          <input type="checkbox" class="custom-control-input"> 
          <span class="custom-control-indicator"></span> 
          <span class="custom-control-description">vegetarian</span> 
        </label> 
        <label class="custom-control custom-checkbox"> 
            <input type="checkbox" class="custom-control-input">               
            <span class="custom-control-indicator"></span> 
            <span class="custom-control-description">vegan</span> 
        </label> 
            <label class="custom-control custom-checkbox"> 
                <input type="checkbox" class="custom-control-input"> 
                <span class="custom-control-indicator"></span> 
                <span class="custom-control-description">pescatarian</span> 
              </label> 
              <label class="custom-control custom-checkbox"> 
                  <input type="checkbox" class="custom-control-input"> 
                  <span class="custom-control-indicator"></span> 
                  <span class="custom-control-description">lactose-free</span> 
                </label> 
      </div>
