.background {
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
}
  
  .background::before {
    background-image: url(https://raw.githubusercontent.com/damiasmith/greens-over-grains/stackblitz/src/assets/leaf-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 40rem; 
    max-height: 150rem;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.2;
}

.header {
    padding: 0;
}

.display-4 {
    font-family: 'Open', sans-serif;
    color: white;
    z-index: 2;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.card-1 { 
    font-family: 'Roboto', sans-serif;
    width: 35%;
    padding-top: 2rem;
    padding-left: 1rem;
}

.sidenav {
    position: fixed;
    white-space: nowrap;
    font-size: 100%;
    line-height: 2;
    width: 50%; 
}

.filter {
    padding-top: 2rem;
    padding-left: 4rem;
    line-height: 2.4;
}

.searchbar {
    line-height: 3; 
}

.card-2 {
    font-family: 'Roboto', sans-serif;
    width: 65%;
}

li { 
    padding: 2rem;
    white-space: wrap;
    font-size: 100%;
    line-height: 1.5;
    list-style: none;
}

span {
    float: right;
    text-align: center;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.checked, .checked ~ span {
    color: deeppink !important;
}

.multiline {
    white-space: pre-wrap;
}

a {
    color: green;
}


@media(max-width: 660px) {

    .header {
        width: 70%;
        padding-top: 0;
        padding-left: 1rem;
    }
  
    h1 {
        padding-right: 1rem;
        font-size: 2.6rem;
    }

    .sidenav {
        position: relative;
        width: 100%;
    }

    .card-1 {
        position: relative;
        width: 100%;
    }

    .card-2 {
        position: relative;
        width: 100%; 
        padding-left: 0;
    }

    .searchbar {
        width: 60%;
        padding-left: 0;
    } 

    li { 
        padding-left: 0;
        padding-right: 0;
        padding-top: 2rem;
    }
}

@media(max-width: 380px) {

    .header {
        width: 60%;
        padding-top: 0;
        padding-left: 1rem;
    }
    
    h1 {
        padding-right: 1rem;
        font-size: 2.4rem;
    } 
}

  @media(max-width: 380px) {

    .header {
        width: 60%;
        padding-top: 0;
        padding-left: 0;
    }

    .container {
        padding-left: 0; 
    }  
    
    h1 {
        padding-right: 0;
        font-size: 2.1rem;
    } 
     
    ul {
        padding-left: 1rem;
    }
}