<div class="background">
  <div class="text-center header"> 
    <div class="container"> 
      <h1 class="display-4"> Restaurant Info</h1> 
    </div> 
  </div>
  <div class="card-group"> 
    <div class="card-1"> 
      <div class="card-block">  
        <div class="sidenav">
          <div class="row"> 
            <div class="col-sm-10">
              <div class="searchbar text-center">
                <app-searchbar></app-searchbar>
              </div>   
              <div class="filter">   
                <div *ngFor="let filter of filters">
                  <div class="row"> 
                    <label class="form-check-label">
                      <input (click) = "onFilter(filter)"
                        type="checkbox" 
                        class="form-check-input" 
                        value=""> 
                        {{ filter }}                 
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>                     
    </div>  
    
    <div class="card-2"> 
      <div class="card-block">
        <div class="row container"> 
          <div class="col-sm-12">
            <div class="d-flex flex-row justify-content-center">
            <ul class="restaurant">
              <li>
                <h4>
                {{restaurant?.restaurantName}}  
                </h4>
                <br> 
                <div>Address:</div>
                <div class="multiline">{{restaurant?.address.join(', \n')}} 
                </div> 
                <br> 
                <div>Phone:</div>
                <div>
                  {{restaurant?.phoneNumber}} 
                </div>
                <br> 
                <div>Hours:</div>
                <div class="multiline">{{restaurant?.hours.join(', \n')}}
                </div> 
                <br> 
                <div>Website:</div>
                <a 
                href="{{restaurant.website}}">{{restaurant.website}}
                </a>
              </li>
            </ul>
            </div>
            <h4 class='review'>Reviews</h4>
            <ul *ngFor="let item of displayFoodItems">
              <li>
                {{item?.itemName}}  <br> 
                {{restaurants[item.restaurantId]?.restaurantName}}  <br>
                {{ (item?.filters.join(', ')) }} <br>
                <span *ngFor="let i of [5, 4, 3, 2, 1]" 
                  [ngClass]="{checked: item?.rating==i}"> ★ {{i}}>
                </span>
              </li>
            </ul>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
