<div class="background">
    <div class="text-center header"> 
        <div class="container"> 
            <h1 class="display-4">Search Results</h1> 
        </div> 
    </div>
    <div class="container">
      <ul>
        <div *ngIf="results.length === 0; else notEmpty" class="text-center not-found">
          No Results Found
          <div class ="searchbar">
            <app-searchbar></app-searchbar>
          </div>
        </div>
        <ng-template #notEmpty>
          <div *ngFor="let result of results" class="results"> 
            <li *ngIf="result.itemName"> 
              {{result.itemName}} <br> 
              {{result.restaurantName}} <br> 
              {{ (result.filters.join(', ')) }} <br>
              <span *ngFor="let i of [5, 4, 3, 2, 1]" 
                [ngClass]="{checked: result.rating==i}"> ★ {{i}} 
              </span>
            </li>
            <li *ngIf="result.address">
              <a [routerLink]="['/../restaurant-details', result.id]">{{result.restaurantName}} 
             </a> <br>
             <div class="multiline">{{result.address.join(', \n')}} 
             </div>
              {{result.phoneNumber}} <br> 
              <div class="multiline">{{ (result.hours.join(', \n')) }}
              </div> 
              <a href="{{result.website}}">{{result.website}}
              </a>
            </li>
          </div> 
        </ng-template>
      </ul>
    </div>
</div>

