body {
    background-color: #e9ecef;
}

.searchbar {
    box-sizing: border-box;
    margin: 10rem;
    position: absolute;
    top: 70%;
    padding: 20rem;
    width: 100%;
    
}
.jumbotron {
    box-sizing: border-box;
    width: 100%

}

.container {
    background-color: transparent;
    position: absolute;
    top: 25%;
    left: 27%;
    padding: 0;
    width: 50%;
    max-width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greens {
    align-self: flex-start;
    
}

.display-3 {
    font-size: 5rem;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

}

.grains {
    align-self: flex-end;
}