<body>
    <div class="jumbotron">  
        <div class="container searchbar">
             <div class="row">
                <div class="col-sm-12">
                    <app-searchbar></app-searchbar> 
                </div>
            </div>
        </div>
        
        <div class="container-text">  
            <h1 class="display-3 greens">GREENS</h1>  
            <h1 class="display-3 over">over</h1> 
            <h1 class="display-3 grains">GRAINS</h1> 
        </div>    
    </div> 
</body>


